BODY {background:#000000; font-family:arial,helvetica; color:#FFFFFF; overflow:auto; margin:0; text-align:center}
a:link {color:#FFFFFF; text-decoration:none;}
a:visited {color:#0000FF; text-decoration:none;}
IMG {border: 0}
TABLE {width:60%; height:40%}